<h1>Login to MD Timezone</h1>

<div class="row">
    <div class="col-md-6">        
        <div class="panel">
            <div class="panel-body">

                <p ng-if="user.loginError" class="alert alert-danger">{{user.loginError}}</p>        
                <form class="" >            
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" required="required" ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required="required" ng-model="user.password">
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="tryLogin()">Login</button>          
                </form>             
                <br>
                <p><a ng-href="#/user/new" class="btn btn-default">Register New User</a></p>

            </div>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-6">        
    </div>
</div>

