<h1>Create Account</h1>
<div class="row">
    <div class="col-md-6">
        <p ng-if="newUser.registerError" class="alert alert-danger">{{newUser.registerError}}</p>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" 
                       placeholder="Your Name" name="name" 
                       ng-model="newUser.name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" 
                       id="exampleInputEmail1" 
                       placeholder="Email" name="email"
                       required="required"
                       ng-model="newUser.email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" 
                       id="exampleInputPassword1" 
                       placeholder="Password" name="password"
                       required="required"
                       ng-model="newUser.password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Repeat Password</label>
                <input type="password" class="form-control" 
                       id="exampleInputPassword2" 
                       placeholder="Repeat Password"
                       name="password2" required="required"
                       ng-model="newUser.password2">
            </div>

            <button ng-click="registerNewUser()" class="btn btn-default">Register User</button>
        </form>
    </div>
</div>