body {
  min-height: 1000px;
  padding-top: 70px;
}

.timezone {        
    padding: 0.5em;
    margin-top: 0.4em;
}

.timezoneData {
    width: 100%;
    background-color: #cccccc;
    height: 4em;    
    padding: 0.5em;
}

.selectize-dropdown .title {
	display: block;
}
.selectize-dropdown .description {
	font-size: 12px;
	display: block;
	opacity: 0.5;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tzName {
    font-weight: bold;
}

.tzDescr {
    font-style: italic;
    font-size: smaller;
}

.tzTime {
    font-size: x-large;
    line-height: 2em;
}

.tzData {
    cursor: pointer;
}

button.btnDelTimezone {
    line-height: 2em;
}