body {
  min-height: 1000px;
  padding: 50px 10px 0px 10px;  
  background-color: #ecf0f5;
}

.timezone {        
    padding: 0.5em;
    margin: 0.8em;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(184,184,184,0.75);
    -moz-box-shadow: 5px 5px 20px 0px rgba(184,184,184,0.75);
    box-shadow: 5px 5px 20px 0px rgba(184,184,184,0.75);    
}

.timezoneData {
    width: 100%;
    background-color: #cccccc;
    height: 4em;    
    padding: 0.5em;
}

.selectize-dropdown .title {
	display: block;
}
.selectize-dropdown .description {
	font-size: 12px;
	display: block;
	opacity: 0.5;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tzName {
    font-weight: bold;
}

.tzDescr {
    font-style: italic;
    font-size: smaller;
}

.tzTime {
    font-size: 135%;
    line-height: 2em;
}

.tzData {
    cursor: pointer;
}

button.btnDelTimezone {
    line-height: 2em;
}